# Gradle files
.gradle
build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# IDE files
.idea/
*.iml

# Mac specific
.DS_Store

# Captures and keys
*.keystore
*.jks
